/*
 * styles.css
 *
 * styles for graph webpage
 */

html, body{
    background:#E0F8FD;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
	font-family: Lato, sans-serif;
}

div#wrapper{
    margin-left:50px;
    width:600px;
	padding-bottom:30px;
}

div#header {
	padding-top:45px;
    padding-bottom:10px;  
}

div#title a{
    color: #14467a;
    text-align: center;
    font-family: sans-serif;
    font-size: 3em;
}

