<!DOCTYPE html>

<head>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="createDataPoints.js"></script>
	<script type="text/javascript" src="graph.js"></script>
	<script type="text/javascript" src="createTextLabels.js"></script>
	<script type="text/javascript" src="../controllers/brain.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
   	<script>

$(document).ready(function() {
	init();
	var practicePoints = [10, 20, 30, 55, 50];
	controller();
});

//$('#colorpickerHolder').ColorPicker({flat: true});

  </script>
  <title>awfeftw</title>
</head>

<body>
  <div id="title"><h1>TAB STATS</h1></div>
  <canvas id="output" width="1000" height="400"></canvas>
</body>

</html>

