<!DOCTYPE html>

<head>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="createDataPoints.js"></script>
	<script src="graph.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
       	<script>

$(document).ready(function() {
	init();
	var practicePoints = [10, 20, 30, 55, 50];
	controller();
});

$('#colorpickerHolder').ColorPicker({flat: true});

  </script>
  <title>awfeftw</title>
</head>

<body>
  <div id="title"><h1>TAB STATS</h1></div>
  <canvas id="output" width="1000" height="400"></canvas>
</body>

</html>

