<!DOCTYPE html>

<head>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="../chrome/utils.js"></script>
	<script type="text/javascript" src="createDataPoints.js"></script>
	<script type="text/javascript" src="graph.js"></script>
	<script type="text/javascript" src="createTextLabels.js"></script>
	<script type="text/javascript" src="../controllers/brain.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
  <title>awfeftw</title>
</head>

<body>
  <div id="title"><h1>TAB STATS</h1></div>
  <canvas id="output" width="1000" height="400"></canvas>
</body>

</html>

