<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="../tracking/utils.js"></script>
	<script type="text/javascript" src="createDataPoints.js"></script>
	<script type="text/javascript" src="graph.js"></script>
	<script type="text/javascript" src="createTextLabels.js"></script>
	<script type="text/javascript" src="../controllers/brain.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>awfeftw</title>
</head>
<body>
	<div id="container">
		<h3>(Adwords Front End FTW Presents)</h3>
		<h1>Tab Stats</h1>
		<canvas id="output" width="1000" height="400"></canvas>
	</div>
</body>
</html>