<html>
<head>
	<link rel="shortcut icon" href="icon.png">
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="../tracking/utils.js"></script>
	<script type="text/javascript" src="createDataPoints.js"></script>
	<script type="text/javascript" src="graph.js"></script>
	<script type="text/javascript" src="createTextLabels.js"></script>
	<script type="text/javascript" src="../controllers/brain.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>awfeftw</title>
</head>
<body>
	<div id="container">
		<header>
			<h3></h3>
			<h1>TabStats</h1>
		</header>
		<canvas id="output" width="1000" height="400"></canvas>
		<div id="options">
			<h3>Display data for: </h3>
			<p>
				<a href="javascript:void(0)" id="lastHour">- last hour</a><br />
				<a href="javascript:void(0)" id="lastSixHours">- 6 hours</a><br />
				<a href="javascript:void(0)" id="lastDay">- 24 hours</a>
			</p>
			<p>
				<input type=checkbox id="togglePoints">Points</input><br />
				<input type=checkbox id="toggleLine">Line</input><br />
				<input type=checkbox id="toggleFill">Fill</input><br />
				<input type=checkbox id="togglePoints">Horizontal Grid Lines</input><br />
				<input type=checkbox id="togglePoints">Vertical Grid Lines</input><br />
	

				<a id="togglePoints" class="selected">Points</a>
				<a id="allToggleDisplay">All Features</a><br />
				<a id="togglePoints">Points</a><br />
				<a id="toggleLine">Line</a><br />
				<a id="toggleFill">Fill</a><br />
				<a id="toggleHorizontalGrid">Horizontal Grid</a><br />
				<a id="toggleVerticalGrid">Vertical Grid</a><br />
			</p>
		</div>
		<div class="clear"></div>
	
		<p id="copyright">By Ali Nahm, Amadu Durham, Junjun Chen, and Peter Zhang</p>
	</div>
</body>
</html>
