<html>
<head>
	<link rel="shortcut icon" href="icon.png">
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="../tracking/utils.js"></script>
	<script type="text/javascript" src="createDataPoints.js"></script>
	<script type="text/javascript" src="graph.js"></script>
	<script type="text/javascript" src="createTextLabels.js"></script>
	<script type="text/javascript" src="../controllers/brain.js"></script>
	<script type="text/javascript" src="jscolor.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>awfeftw</title>
</head>
<body>
	<div id="container">
		<header>
			<h3></h3>
			<h1>TabStats</h1>
		</header>
		<canvas id="output" width="1000" height="400"></canvas>
		<div id="options">
			<h3>Display options: </h3>
			<p id="timeOptions">
				<a href="javascript:void(0)" id="allTime">all time</a><br />
				<a href="javascript:void(0)" id="lastHour">last hour</a><br />
				<a href="javascript:void(0)" id="lastSixHours">last 6 hours</a><br />
				<a href="javascript:void(0)" id="lastDay">last 24 hours</a>
			</p>
			<p id="checkbox">
				<input type=checkbox id="togglePoints" class="displayFeatures">Points</input><br />
				<input type=checkbox id="toggleLine" class="displayFeatures">Line</input><br />
				<input type=checkbox id="toggleFill" class="displayFeatures">Fill</input><br />
				<input type=checkbox id="toggleHorizontalLines" class="displayFeatures">Horizontal Grid Lines</input><br />
				<input type=checkbox id="toggleVerticalLines"
				class="displayFeatures">Vertical Grid Lines</input><br />
				<input type=checkbox class="color" value="FF0000">Graph Color</input><br />
			</p>
		</div>
		<div class="clear"></div>
	
		<p id="copyright">By Ali Nahm, Amadu Durham, Junjun Chen, and <a href="http://peetahzee.com">Peter Zhang</a>.</p>
	</div>
</body>
</html>
